In [ ]:
# Crie uma tabela chamada "alunos" com os seguintes campos: id(inteiro), nome (texto), idade (inteiro) e curso (texto).

CREATE TABLE alunos (
    id INT PRIMARY KEY,
    nome TEXT,
    idade INT,
    curso TEXT
);

In [ ]:
# Insira pelo menos 5 registros de alunos na tabela que você criou no exercício anterior.

INSERT INTO alunos (id, nome, idade, curso) VALUES
(1, 'Beyonce', 42, 'Engenharia'),
(2, 'Rihanna', 36, 'Moda'),
(3, 'Normani', 19, 'Direito'),
(4, 'Sade', 65, 'Administração'),
(5, 'Madonna', 65, 'História');

In [ ]:
 #vConsultas Básicas

SELECT * FROM alunos;

SELECT nome, idade FROM alunos WHERE idade > 20;

SELECT * FROM alunos WHERE curso = 'Engenharia' ORDER BY nome;

SELECT COUNT(*) AS total_alunos FROM alunos;

In [ ]:
# . Atualização e Remoção

UPDATE alunos
SET idade = 25
WHERE id = 1;

DELETE FROM alunos
WHERE id = 3;

In [ ]:
# Criar uma Tabela e Inserir Dados Crie uma tabela chamada "clientes" com os campos: id (chave primária), nome (texto), idade (inteiro) e saldo (float).

CREATE TABLE clientes (
    id INT PRIMARY KEY,
    nome TEXT,
    idade INT,
    saldo FLOAT
);

# Insira alguns registros de clientes na tabela.

INSERT INTO clientes (id, nome, idade, saldo) VALUES
(1, 'Lady Gaga', 30, 1500.50),
(2, 'Nicki Minaj', 25, 2000.75),
(3, 'Doja Cat', 40, 1800.25),
(4, 'Taylor Swift ', 35, 2200.00),
(5, 'Mitski', 28, 1900.80);

In [ ]:
# User Consultas e Funções Agregadas
# Escreva consultas SQL para realizar as seguintes tarefas: a) Selecione o nome e a idade dos clientes com idade superior a 30 anos.

SELECT nome, idade FROM clientes WHERE idade > 30;

# b) Calcule o saldo médio dos clientes.

SELECT AVG(saldo) AS saldo_medio FROM clientes;

# c) Encontre o cliente com o saldo máximo.

SELECT * FROM clientes WHERE saldo = (SELECT MAX(saldo) FROM clientes);

# d) Conte quantos clientes têm saldo acima de 1000.

SELECT COUNT(*) AS total_clientes_saldo_acima_de_1000 FROM clientes WHERE saldo > 1000;

In [ ]:
# 7. Atualização e Remoção com Condições
# a) Atualize o saldo de um cliente específico.

UPDATE clientes
SET saldo = 2500.00
WHERE id = 1;

# b) Remova um cliente pelo seu ID.

DELETE FROM clientes
WHERE id = 3;

In [ ]:
# 8. Junção de Tabelas
# Crie uma segunda tabela chamada "compras" com os campos: id(chave primária), cliente_id (chave estrangeira referenciando o id da tabela "clientes"), produto (texto) e valor (real).

CREATE TABLE compras (
    id INT PRIMARY KEY,
    cliente_id INT,
    produto TEXT,
    valor REAL,
    FOREIGN KEY (cliente_id) REFERENCES clientes(id)
);

# Insira algumas compras associadas a clientes existentes na tabela "clientes".

INSERT INTO compras (id, cliente_id, produto, valor) VALUES
(1, 1, 'Produto A', 100.00),
(2, 2, 'Produto B', 150.50),
(3, 1, 'Produto C', 200.75),
(4, 3, 'Produto D', 120.00),
(5, 4, 'Produto E', 180.25);

# Escreva uma consulta para exibir o nome do cliente, o produto e o valor de cada compra.

SELECT c.nome, p.produto, p.valor
FROM clientes c
INNER JOIN compras p ON c.id = p.cliente_id;

In [9]:
from google.colab import drive
drive.mount('/content/drive')


!cp /content/SQL - WoMakers Code (Alice Juliane da C. Rodrigues) /content/drive/MyDrive/
!git clone https://github.com/Al1ceRodrigues/WoMakers-Code-SQL.git

!mv /content/drive/MyDrive/SQL - WoMakers Code (Alice Juliane da C. Rodrigues) /WoMakers-Code-SQL/

!git add .
!git commit -m "Adicionando SQL - WoMakers Code (Alice Juliane da C. Rodrigues)"
!git push origin main

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/bin/bash: -c: line 1: syntax error near unexpected token `('
/bin/bash: -c: line 1: `cp /content/SQL - WoMakers Code (Alice Juliane da C. Rodrigues) /content/drive/MyDrive/'
fatal: destination path 'WoMakers-Code-SQL' already exists and is not an empty directory.
/bin/bash: -c: line 1: syntax error near unexpected token `('
/bin/bash: -c: line 1: `mv /content/drive/MyDrive/SQL - WoMakers Code (Alice Juliane da C. Rodrigues) /WoMakers-Code-SQL/'
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent directories): .git